.env

./frontend/node_modules/*
./backend/node_modules/*

./terraform/terraform.tfvars

./terraform/terraform.tfstate.backup
./terraform/terraform.tfstate
./terraform/.terraform/*
./terraform/.terraform.lock.hcl
